<div class='flex_parent_container' id='activity_menu'>
  <% @activities.each do |activity| %>
      <div class='flex_child_item' id='activity_menu_item'>
        <a href="/activities/<%= activity.id %>" class='activity_id_link'><%= activity.name %>
        </a>
      </div>
    <% end %>
</div>  

