<!-- localhost:9292 -->
<!-- Sinatra only returns strings -->
<!-- <img src='http://giphy.com/gifs/fitness-anyone-runner-2eN0NkCvhjxqo'/>

<img src='https://media.giphy.com/media/MF4XbEUxTXKfK/giphy.gif'/> -->
<header>
	<!-- Add icons next to links -->
<!-- 		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
	  	</nav> -->
	</header>
<div class='flexbox_container' id='flex_homepage'>
	
	<div class='flexbox_item' id='health'>
	Stay Healthy	
	<div class="flx-embed"><iframe width="300" height="500" src="https://media.flixel.com/cinemagraph/gwosfct98rx0dj1ylvaf?hd=false&forceGif=false" frameborder="0" allowfullscreen></iframe>
	</div>
	</div>
	<div class='flexbox_item' id='menu'>
		<a href="/strains">Strain Menu</a>
	</div>
	<div class='flexbox_item' id='review'>
		<a href="/strains/new">Share Experiences</a>
	</div>
	<div class='flexbox_item' id='signup'>
		<h2>Sign Up</h2>
	</div>
	<div class='flexbox_item' id='playlist'>
		<h2>Listen</h2>
	</div>
	<div class='flexbox_item' id='explore'>
		<h2>Explore</h2>
	</div>
	<div class='flexbox_item' id='health'>	
		<h2>Stay healthy</h2>
	</div>
	<div class='flexbox_item' id='diy'>
		<h2>DIY Grow</h2>
	</div>
</div>
	<!-- <div class='flex_child_item' id='features'>
		<h2>Features</h2>
			<h3>Coming soon...</h3>
			<ul>
				<li>Interact with your herbs with easy to move, 3D animations of strains on all shelves</li>
				<li>Track your favorites, add to your wish list and organize based off activity.</li>
				<li>Browse, filter and search through the menu based off strain attributes, activity, date submitted and/or community ranking.</li>
				<li>Attend local events. (Opt in to recieve updates about upcoming events in your area.)</li>
				<li>Sign Up to join the community and keep your information secure.</li>
				<li>Host a meetup.</li>
			</ul>
		</div> -->
<!-- <div>
	<ul>
		<li>
			<a href="http://nationalhempassociation.org/" target='blank'>National Hemp Association</a>
		</li>
	</ul>
		<p>Support the industrial hemp industry</p>			
</div> -->
<!-- </div> -->
