<h1>CannaViews</h1>
<h2>Home</h2>
<h2>About</h2>
<a href ="http://localhost:9292/strains">Strains</a>



<div id ="links" class = "homepage">
<ul>
<li><a href="http://nationalhempassociation.org/">National Hemp Association</a></li>
<p>Support the industrial hemp industry</p>

<li><a href="http://.com/"></a></li>
</ul>
</div>