<h1>CannaViews</h1>
<h2>Home</h2>

<a id = "links" href = "http://localhost:9292/strains">Strains</a>

<h2>About</h2>
<p>CannaViews is made for the user to both document their personal experience with any strain, as well analyze the reviews and information made available through the submissions made by other users.</p>

<div id ="links" class = "homepage">
<ul>
<li><a href="http://nationalhempassociation.org/">National Hemp Association</a></li>
<p>Support the industrial hemp industry</p>

<li><a href="http://.com/"></a></li>
</ul>
</div>