<!DOCTYPE html>
<html>
<head>
  <title>HydraAtleta</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<div class='flexbox_container' id='flex_navbar'>
		<div class='flexbox_item' id='nav_item'>
			<a href='/'><img src='/images/icons/home.svg' class='nav_icon'/></a>
		</div>
		<div class='flexbox_item' id='nav_item'>
			<a href='/strains'><img src='/images/icons/strains/trans_weed.png' class='nav_icon'/></a>
		</div>
		<div class='flexbox_item' id='nav_item'>
			<a href='/strains/new'><img src='/images/icons/strains/review.png' class='nav_icon'/></a>
		</div>
		<div class='flexbox_item' id='nav_item'>
			<img src='/images/icons/activities/heartbeat.png' class='nav_icon'/>
		</div>
		<div class='flexbox_item' id='nav_item'>
			<img src='/images/icons/music_icon.svg' class='nav_icon'/>
		</div>
</div>
	<body>
	  <main>
		  <!-- Boilerplate -->
		    <%= yield %>
		</main>
	</body>
</html>
