<!DOCTYPE html>
<html>
<head>
  <title>CannaViews</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  <header>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer></footer>
</body>
</html>
