<!DOCTYPE html>
<html>
<head>
  <title>Welcome to CannaViews</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">CannaViews</a></li>
        <li><a href="/strains/index">All Strains</a></li>
        <li><a href="/strains/new">Add a Strain</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer></footer>
</body>
</html>
