<!DOCTYPE html>
<html>
<head>
  <title>HydraAtleta</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<nav>
	<ul>
		<li>
			<img src='/images/icons/music_icon.png' class='nav_icon'/>
		</li>
		<li>
			<img src='/images/icons/activities/heart-rate.png' class='nav_icon'/>
		</li>
	</ul>
</nav>
	<body>
	  <main>
		  <!-- Boilerplate -->
		    <%= yield %>
		</main>
	</body>
</html>
