/**//* *//* *//* *//* *//*  GLOBAL FLEX *//* *//* *//* *//* *//* *//* *//
.flexbox_container {
  display: flex;
}
.flexbox_item {

}
#button {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
/**//* *//* *//* *//* *//*  ID FLEX *//* *//* *//* *//* *//* *//* *//* /
/* index.erb (homepage) */
#flex_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#flex_homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* index.erb (strain menu) */
#flex_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: flex-start;
}
#menu_item {

}
/* show.erb * (one strain) */
#flex_strain_display {
  display: flex;
  flex-direction: column;
  flex-wrap: flex-start;
}
#strain_img {

}
#strain_details {

}
#strain_review {

}

/* new.erb */ /* edit.erb */
#flex_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form_input {

}
/**//* *//* *//* *//* *//*  GLOBAL STYLES *//* *//* *//* *//* *//* *//* */
.flexbox_container {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, #c1e09c 0%,#88bb75 44%,#3b9144 100%);
  
}
.flexbox_item {
  height: 300px;
  width: 300px;
  margin: 4px;
  color: black;
  line-height: 40px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px; 
  box-shadow:  -6px 7px 6px 0px rgba(50, 50, 50, 0.89);
}
#flex_navbar {
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);;
  background-size: cover;
}
#nav_item {
  line-height: normal;
  height: 90px;
  width: 100px;
}
nav {
  /*background: url(/images/charlottes-web-pot-weed-farm-colorado-2.jpg);  
  */background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid black;
}

.nav_icon {
  height: 80px;
  width: 80px;
}
h1, h2 {
  font-weight: lighter;
}
h1 {
    text-shadow: 0 0 5px #000;
    text-align: center;
}
h2 {
  font-size: 40px;
}
ul {
    list-style-type: none;
}
li {
    background-color:rgba(255, 255, 255, 0.5);
  }
a {
  text-decoration: none;
}
h2, p, a, li {
    font-size: 30px;
    color: black;
    text-shadow: -3px 0px 3px rgba(150, 150, 150, 1);
}
/**//* *//* *//* *//* *//*  ID STYLES *//* *//* *//* *//* *//* *//* */
/*
index.erb (homepage) */
#flex_homepage {
  box-shadow: -3px 2px 20px 1px rgba(10,6,0,0.61);
  border: none;
}
#about {
  height: 320px;
}
#explanation, #about, #features {
  height: 350px;
  width: 350px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
}
 #menu {
    background: url(http://www.trbimg.com/img-55232157/turbine/ct-illinois-medical-marijuana-dispensaries-met-20150406);
    background-size: cover;
    height: 350px;
    width: 350px;
  }
  #review {
    background: url(/images/bong.gif);
    height: 350px;
    width: 230px;
    background-size: 200px 330px;
  }
  #signup {
    background: url(http://www.officialcollegelife.com/wp-content/uploads/2014/08/weed.jpg);
    background-size: cover;
    height: 350px;
    width: 350px;
  }
  #playlist {
    background:url(https://media.giphy.com/media/iCIfArhwFACtO/giphy.gif);
    height: 300px;
    width: 300px;
    background-size: 300px 300px;
  }
  #health {
    background: url(https://d3atagt0rnqk7k.cloudfront.net/wp-content/uploads/2016/05/12001327/7-high-energy-strains-to-help-you-get-active-and-fight-fatigue.jpg);
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
  }
  #explore {
    background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRQhqQoja0d4v_ucSbtqlvWCYNGpVAxnqSIxrVZYy0n6EHqn15H9g);
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
  }
  #diy {
    background: url(https://media.giphy.com/media/3o6gaX5AEDBzogvNAY/giphy.gif);
    background-size: cover;
    height: 300px;
    width: 300px;
}
/* index.erb (strain menu) */
#flex_menu {
}
#menu_item {
  height: 50px;
  width: 250px;
  text-align: center;
}
.strain_id_link {
  color: black;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
/* show.erb * (one strain) */
#flex_strain_display {
  height: 900px;
}
#strain_img {

}
#strain_details {
font-size: 80px;
line-height: normal;
height: 100px;
width: 100%;
text-align: center;
}
#strain_review {

}

/* new.erb */ /* edit.erb */
#flex_form {
  height: 500px;
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.5);
}
#form_input {
  font-size: 30px;

}
.btn, .form_input {
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
}
.btn {
  color: rgb(99, 110, 181);
  font-size: 25px;
  padding: 5px;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.83);
  border-radius: 90px;
  background: rgb(172, 204, 255);
  background: -webkit-linear-gradient(265deg, rgb(172, 204, 255) 30%, rgb(159, 170, 248) 77%);
  background: -o-linear-gradient(265deg, rgb(172, 204, 255) 30%, rgb(159, 170, 248) 77%);
  background: linear-gradient(175deg, rgb(172, 204, 255) 30%, rgb(159, 170, 248) 77%);
  box-shadow:         0px 1px 4px rgba(0, 30, 214, 1);
}
#btn {
   background: transparent;
}
#button {
  height: 160px;
  width: 180px;
}