body{
	background-image: url('/images/Blueberry Yum Yum.png');
	background-size: cover;
	}

div {
	text-align: center;
	font-family: "Big Caslon";
	font-weight: lighter;
	}

h1 {
	text-align: center;
	font-size: 80px;
	font-family: "Big Caslon";
	font-weight: lighter;
	}

h1:hover {
	color: white;
}

#new_title:hover {
color: green;
}

h2:hover {
	color: white;
}

h2  {
	text-align: center;
	font-family: "Big Caslon";
	font-weight: lighter;
	font-size: 60px;
	}

h3:hover {
	color: white;
}

h3  {
	text-align: center;
	font-family: "Big Caslon";
	font-weight: lighter;
	font-size: 50px;
	}

form {
	text-align: center;
	font-family: "Big Caslon";
	font-weight: lighter;
	display: block;
	}

label {
	font-size: 40px;
	font-family: "Big Caslon";
	font-weight: lighter;
	}

	label:hover {
		color: purple;
		opacity: .9;
	}

input {
	width: 50px;
	height: 15px;
	}


ul {
	 list-style-type: none;
	}

li {
	text-align: center;
	font-family: "Big Caslon";
	font-weight: lighter;
	font-size: 45px;
	}

	li:hover {
		color: orange;
	}


a:hover {
    color: green;
	}

a 	{
	text-align: center;
	font-family: "Big Caslon";
	font-weight: lighter;
	font-size: 50px;
	color: black;
	text-decoration: none;
	}

#strain_name {
	text-align: center;
	font-family: "Big Caslon";
	font-weight: lighter;
	font-size: 70px;
	}

	#strain_name:hover {
	color: black;
	display: block;
	}

#edit_button {
	width: 50px;
	height: 20px;
	position: absolute;
	left: 200px;
	}	

#new_strain_body {
	border-radius:10px;
}	

.strain_list {
	border-radius:10px;
	display: block;
	opacity: 0.6;
	border-radius:10px;
	background-color: white;
}

.strain_list:hover {
	color: black;
	opacity: 0.8;
}
.btn {
		text-align: center;
	 }
.btn:hover {
		color: white;
	 }
.view_all_btn {
	font-size: 50px;
	position: absolute;
	top: 8px;
	left: 16px;
	}


.edit_form_input {
border-radius:10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 30px;
padding-left: 20px;
font-size: 20px;
color: purple;
	}

	.edit_form_input:hover {
		color:green;
	}
