#links {
background-color: white; 
opacity: .9;
text-align: center;
border-radius: 10px; 
}

body {
    opacity: .9;
    background-image: url(/images/frosty.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div {
    text-align: center;
    font-family: "Big Caslon";
    font-weight: lighter;
}

nav {
    background-color: #fff;
    opacity: .8;
}

h1, h2, h3, label, a, 
#strain_name, 
#show_strain_name, 
.show_strain, 
#edit_strain_title, 
#new_title, 
.strain_list, 
.btn:hover {
    color: #764eca;
    opacity: .9;
}

h1, h2, h3, label, form, li {
    text-align: center;
    border-radius: 10px; 
    font-size: 100px;
    font-family: "Optima";
    color: #2ba15e;
    font-weight: lighter;
    background-color: #fff;
    opacity: .8;
    -o-transition: color .5s ease-out,background 3s ease-in;
    -ms-transition: color .5s ease-out,background 3s ease-in;
    -moz-transition: color .5s ease-out,background 3s ease-in;
    -webkit-transition: color .5s ease-out,background 3s ease-in;
    transition: color .5s ease-out,background 5s ease-in;
}


h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

form {
    display: block;
    background-color: #fff;
}

label {

    font-size: 40px;
    font-weight: lighter;
    color: #2ba15e;
    background-color: #fff;
}

input {
	border-radius: 10px; 
    width: 70px;
    height: 15px;
}

ul {
    list-style-type: none;
}

li:hover {
    color: #2ba15e;
}

li {
    font-size: 50px;
    color: #764eca;
}


a, #strain_name {
    text-align: center;
    font-family: "Big Caslon";
    font-weight: lighter;
    font-size: 70px;
    color: #2ba15e;
    text-decoration: none;
    -o-transition: color .5s ease-out,background 3s ease-in;
    -ms-transition: color .5s ease-out,background 3s ease-in;
    -moz-transition: color .5s ease-out,background 3s ease-in;
    -webkit-transition: color .5s ease-out,background 3s ease-in;
    transition: color .5s ease-out,background 5s ease-in;
}


#show_strain_name, .show_strain,  {
    color: #2ba15e;
}

#new_strain_body {
    border-radius: 10px;
}

#edit_strain_title {
    color: #2ba15e;
    -o-transition: color .3s ease-out,background 2s ease-in;
    -ms-transition: color .3s ease-out,background 2s ease-in;
    -moz-transition: color .3s ease-out,background 2s ease-in;
    -webkit-transition: color .3s ease-out,background 2s ease-in;
    transition: color .3s ease-out,background 2s ease-in;
    opacity: .8;
}

#edit_button {
    width: 100px;
    height: 70px;
    left: 200px;
    color: #2ba15e;
    font-size: 30px;
}

#save_btn:hover {
    opacity: .9;
}

#save_edit_btn, 
#save_btn, 
#delete_btn {
    width: 100px;
    height: 70px;
    padding-top: 10;
    color: #2ba15e;
    font-size: 30px;
    opacity: .8;
}

.btn {
    text-align: center;
    background-color: #fff;
    opacity: .8;
}


.strain_list {
    border-radius: 10px;
    display: block;
    opacity: .8;
    background-color: #fff;
}

.all_strains_page {
    font-size: 50px;
    top: 8px;
    left: 16px;
    display: block;
}

.edit_form_input:
}

.edit_form_input {
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    color: #2ba15e;
}