<header>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
	  	</nav>
	</header>
<div class='flex_parent_container' id='flex_420-friendly'>
	<div class='flex_child_item' id='about'>
		<h1>420-friendly locations and establishments</h1>
		<!-- (Pull API data) &  Organize by state, citym incorporate Google maps -->
		<h2>Campsites</h2>
			<div>
				<a href='http://www.canyonsidecampground.com/'>CanyonSide Campground</a>
					<p>Cabins start at around $99 per night for up to two people, RV parking for $50 and tent sites for $20 per person each night.</p>
			</div>
			<div>
				<a href='http://www.southwestwildernessexperience.com/WildBandB.php'>Wilderness Bud and Breakfast</a>
					<p>Local, organic breakfast, 420 Happy Hour and organic flowers and infused edibles.  Consumption of cannabis is permitted in the teepees and throughout the campground. Tipi with Single Beds at $75 per person, $60 for each additional. Tent Site $45 per person (up to 4).</p>
			</div>
		<h2>Rent a loft or cabin</h2>
			<div>
				<a href='https://www.vrbo.com/581510'>420 Loft a Smoker Friendly Vacation in the Rocky Mountains.</a>
					<p>Local, organic breakfast, 420 Happy Hour and organic flowers and infused edibles.  Consumption of cannabis is permitted in the teepees and throughout the campground. Tipi with Single Beds at $75 per person, $60 for each additional. Tent Site $45 per person (up to 4).</p>
			</div>
		<a href='http://travelthc.com/'>TravelTHC</h2>
	</div>
</div>