<div class='flexbox_container' id='flex_about'>
	<div class='flexbox_item' id='about'>
			<p>A review application developed for a community of individuals who enjoy cannabis and athletic activities.</p>
	</div>
	<div class='flexbox_item' id='about'>
		<p>From skiing, weight training and triathlons to yoga, scuba-diving and dance, customize your experience to support any actvity that keeps you healthy.</p>
	</div>
	<div class='flexbox_item' id='explanation'>
			<p>Explore the Menu.<br>
			Sample the product.<br>
			Reflect and share your experience <br>with any cannabis strain.</p>
	</div>
</div>