<div class='flexbox_container' id='flex_menu'>

  <% @strains.each do |strain| %>
      <div class='flexbox_item' id='menu_item'>
        <a href="/strains/<%= strain.id %>" class='strain_id_link'><%= strain.name %>
        </a>
      </div>
    <% end %>  
</div>
      