<div class='flex_parent_container' id='music'>
	<div class='flex_child_item' id='artists'>
		<div class='artists'>
			<ul>
				<li>
					Artist: Aphex Twin
						<img class='music_img' id='artist_img' src='' />
				</li>	
			</ul>
		</div>
	</div>		
	<div class='flex_child_item' id='albums'>
		<div class='albums'>
			<img class='music_img' id='album_img' src='' />
		</div>
	</div>

	<div class='flex_child_item' id='songs'>
		<div class='songs'>
			<img class='music_img' id='song_img' src='' />
		</div>
	</div>

	<div class='flex_child_item' id='playlists'>
		<div class='playlists'>
			<img class='music_img' id='playlist_img' src='' />
		</div>
	</div>
</div>