<h1>New Strain</h1>

<form action="/strains" method="post">
  <label for="strain[name]">Name:</label>
  <input name="strain[name]">

  <label for="strain[rating]">Rating:</label>
  <input name="strain[rating]">

   <label for="strain[kind]">Kind:</label>
  <input name="strain[kind]">

  <label for="strain[review]">Review:</label>
  <input name="strain[review]">

  <input type="submit" value="Create">
</form>
