<!-- Update Activity -->
<div class='flexbox_container' id='form'>
  <div class='flexbox_item form' id='update_playlist'>
    <h1>Update</h1>
    <form action='/playlists/<%= "#{@playlist.id}" %>' method='post'>
      <div class='flexbox_item'>
        <label for="playlist[name]">Name:</label>
          <input class="form_input" name="playlist[name]" placeholder='Running Playlist' value='<%= "#{@playlist.name}" %>'>
      </div>
        <div class='flexbox_item'>
        <label for="activity[kind]">Artist:</label>
          <input class="form_input" name="activity[kind]" placeholder='Cardio' value='<%= "#{@activity.kind}" %>'>
      </div>
      <div class='flexbox_item'>
        <label for="activity[media]">Image:</label>
          <input class="form_input" name="activity[media]" placeholder='IMG URl' value='<%= "#{@activity.media}" %>'>
      </div>
      <div class='flexbox_item'>
        <input class='btn' type="submit" value="Save">
          <input name="_method" type="hidden" value='put'>
      </div>
    </form>
</div>