<!-- Create a strain -->
<div class='flexbox_container' id='flex_form'>
	<div class='flexbox_item' id='full_form'>
	  <div class='flexbox_item' id='form_input'>
	  <h2>Create a playlist</h2>
	    <form action="/playlists" method="post">
	      <label for="playlist[name]" class='form_label'>Playlist:</label>
	        <input class='form_input' name="playlist[name]" placeholder="Indicas" />
	  </div>
	  </form>
	</div>
</div>