<div class="center">
  <span id="album"><img src="http://eil.com/images/main/Gallows+-+In+The+Belly+Of+A+Shark+-+7%22+RECORD-413915.jpg" /></span>
  <span id="content">
    <div class="row">DAN MUMFORD - IN THE BELLY OF A SHARK</div>
    <div class="row" id="lift">
      <span id="play">&#9658;</span>
      <span id="progress">_</span>
      <span id="total">_</span>
      <span id="time">01:24</span>
    </div>
    <div class="row"><img id="speaker" src="http://accurate-voting.org/wp-content/uploads/2010/03/200px-Speaker_Icon_gray-sm.png" /></div>
  </span>
</div>