<!-- Create an activity -->
<div class='flexbox_container' id='form'>
  <h2>Sign Up</h2>
    <form action="/users" method="post">
      <div class='flexbox_item' id='new_user_username'>
        <label for="user[username]" class='form_label'>Username:</label>
          <input class='form_input' name="user[username]" placeholder="SativaBonita">
      </div>
      <div class='flexbox_item' id='new_user_email'>
        <label for="user[email]" class='form_label'>Email:</label>
          <input class='form_input' name="user[email]" placeholder="SativaBonita@gmail.com">
      </div>
      <div class='flexbox_item' id='new_user_password'>
        <label for="user[password]" class='form_label'>Password:</label>
          <input class='form_input' name="user[password]" placeholder="password">
      </div>
      <div class='flexbox_item' id='new_user_location'>
        <label for="user[location]" class='form_label'>Location:</label>
          <input class='form_input' name="user[location]" placeholder="Denver, CO">
      </div>
      <div class='flexbox_item' id='new_user_avatar'>
        <label for="user[media]" class='form_label'>Avatar:</label>
          <input class='form_input' name="user[media]" placeholder="Denver, CO">
      </div>
    </form>
</div>